.databox {
  flex: 1;
  display: flex;
}

.leftdata {
  flex: 1;
  display: flex;
  padding: 5px;
  border: 1px rgb(159, 158, 158) solid;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5px;
  gap: 15px;
}

.rightdata {
  flex: 1;
  display: flex;
  padding: 5px;
  border: 1px rgb(159, 158, 158) solid;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5px;
  gap: 15px;
}
