.databox {
  flex: 1;
  display: flex;
}

.leftdata {
  flex: 1;
  display: flex;
  align-items: center;
  border: 1px rgb(159, 158, 158) solid;
}

.rightdata {
  flex: 1;
  display: flex;
  align-items: center;
  border: 1px rgb(159, 158, 158) solid;
}
