.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #25606a;
  width: 100%;
}

.navbar .navImage img {
  width: 60px;
  margin-left: 20px;
}

.navbtn {
  display: flex;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}
.navbtn .signup {
  background-color: white;
  padding: 13px;
}
.navbtn .signin {
  background-color: #00d7ff;
  padding: 13px;
}
.user {
  display: flex;
  place-items: center;
}
.userIcon svg {
  margin-left: 20px;
}

.formContainer {
  padding: 1rem 2rem;
  max-width: 500px;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 1);
  padding-left: calc(var(--bs-gutter-x) * 1);
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  background-color: white;
}
