.auth {
  padding: 10px;
}

.auth h1 {
  font-size: 36px;
  font-weight: 900;
}
.auth h3 {
  color: gray;
  margin-bottom: 30px;
}

.auth label {
  font-size: 18px;
  font-weight: 600;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  margin: 15px auto;
  padding: 0.7rem 0.75rem;
  font-size: 1rem;
  border-radius: 1.5rem;
  border: 1px solid gray;
}
input[type="number"] {
  border-radius: 1.5rem;
  margin: 15px auto;
  padding: 0.7rem 0.75rem;
  width: 100%;
}

.auth .btn {
  border-radius: 1.5rem;
  width: 100%;
  padding: 0.7rem 0.75rem;
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: red;
  font-weight: 600;
  font-size: 20px;
  border: 1px solid red;
  transition: all 0.4s linear;
  cursor: pointer;
}

.auth .btn:hover {
  background-color: white;
}

.auth h4 {
  font-size: 12px;
  margin-bottom: 20px;
}

.gender {
  margin: 20px auto;
}
.gender p {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 7px;
}
.gender input[type="radio"],
.gender label {
  margin-left: 10px;
  font-size: 1rem;
}
